.validation-required {
  border: 3px solid red;
}

form input[type="text"] {
  width: 75%;
  padding: 10px 10px 10px 10px;
}

form button[type="submit"] {
  padding: 10px 15px 10px 15px;
}

.btn.rainbow:hover {
  color: white;
  background: linear-gradient(to right, rgba(89, 171, 210, 1), rgba(246, 0, 255, 1));
  border: 1px solid blue;
}

#output {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#output.visible {
  opacity: 1;
  -webkit-animation: fadeIn 2s;
}